<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Schedule</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact/index">Register contact</a>
          </li>

          <!-- Verificando se o usuário está logado -->
          <% if (!user) { %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
          <% } else { %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login/logout">Logout</a>
              </li>
            <% } %>  
        </ul>
      </div>
    </div>
  </nav>